.blog_container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "hd"
    "sd"
    "main"
    "ft"; 
    border: 2px solid red; 
}

.blog_content {
    /* display: grid; */
    grid-area:main;
    /* border: 2px solid yellow; */
}

.post {
    border: 1px solid red;
}

img {
    height: 200px;
    width: 200px;
    margin-right: auto;
}

.ingredients {
    text-align: left;
}

.directions {
    text-align: left;
}

@media(min-width:900px) {
    .blog_container{
          display:grid;
          grid-template-columns: repeat(8, 1fr);
          grid-auto-rows: minmax(50px, auto);
          grid-template-areas: 
          "hd hd hd hd hd hd hd hd"
          "sd sd main main main main main main"
          "ft ft ft ft ft ft ft ft";
          border: 2px solid red;
      }
    }