.container {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "hd"
    "main"
    "ft";
}

.content {
    grid-area: main;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    min-width: 300px;
    max-width: 600px;
    min-height: 500px;
}

.post-content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    margin-top: auto;
    height: 30%;
    text-align: center;
    background-color: white;
    padding: 10px;
}

.popular-recipes {
    color: #C32148;
    text-align: left;
    padding-left: 55px;
}

.explore-button {
    color: whitesmoke;
    background: #2e3138;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
}

.subscribe {
    margin: auto;
    width: 200px;
    padding: 100px;
    text-align: center;
}

.home-footer {
    grid-area: ft;
    display: flex;
    /* margin: auto; */
    justify-content: center;
    /* padding-right: 70px; */
}

#NestedGrid {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: auto;
    grid-gap: 25px;
    justify-content: center;
}

#one {
    background-image: url("../images/caesar_salad.jpg");
    background-size: cover;
}

#two {
    background-image: url("../images/asparagus_tart.jpg");
    background-size: cover;
}

#three {
    background-image: url("../images/bread_rolls.jpg");
    background-size: cover;
}

#four {
    background-image: url("../images/french_onion_chicken.jpg");
    background-size: cover;
}

#join-button {
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media (min-width: 600px) and (max-width:900px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: 
        "hd"
        "main"
        "ft";
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        min-width: 600px;
        max-width: 600px;
        min-height: 300px;
    }
    
    .popular-recipes {
        color: #C32148;
        text-align: left;
        padding-left: 80px;
    }
  }

@media(min-width:900px) {
    .container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-template-areas: 
        "hd hd hd hd hd hd hd hd"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        min-width: 200px;
        max-width: 600px;
        min-height: 350px;
    }

    .popular-recipes {
        color: #C32148;
        text-align: left;
        padding-left: 200px;
    }

    #NestedGrid {
        display: grid;
        grid-template-columns: 35% 35%;
        grid-template-rows: 50% 50%;
        grid-gap: 50px;
    }
}


    