.container {
    display: grid;
    grid-template-columns: auto;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    "hd"
    "nav"
    "main"
    "ft";
    /* border: 20px solid orange; */
}

.navbar {
    display: inline;
    grid-area: nav;
    /* border: 2px solid red;  */
}

.content {
    display: grid;
    grid-area:main;
    /* border: 2px solid greenyellow; */
}

.card {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    min-width: 200px;
    max-width: 500px;
    min-height: 250px;
    /* border-radius: 10px; */
    margin: 10px;
    object-fit: cover;



    
    /* width: 100%;
    height: 100%;
    max-width: 550px;
    max-height: 350px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px; */
}

.post-content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    margin-top: auto;
    /* margin-left: auto; */
    width: 100%;
    height: 30%;
    text-align: center;
    /* border: 1px solid black; */
    background-color: white;
    /* border-radius: 10px; */
    /* opacity: 0.8; */
}

#NestedGrid {
    display: grid;
    grid-template-columns: min-content;
    grid-template-rows: auto;
    grid-gap: 25px;
    /* border: 2px solid blue; */
}

#one {
    background-image: url("../images/caesar_salad.jpg");
    background-size: cover;
}

#two {
    background-image: url("../images/asparagus_tart.jpg");
    background-size: cover;
}

#three {
    background-image: url("../images/bread_rolls.jpg");
    background-size: cover;
}

#four {
    background-image: url("../images/french_onion_chicken.jpg");
    background-size: cover;
}

.card-title {
    text-align: center;
    border: 1px solid black;
    background-color: cadetblue;
    opacity: 0.7;
    color: white;
}

.subscribe {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: auto;
    width: 200px;
    padding: 25px;
}

@media (min-width: 600px) and (max-width:900px) {
    .container {
        display: grid;
        grid-template-columns: auto;
        /* grid-template-columns: repeat(3, 1fr); */
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: 
        "hd"
        "nav"
        "main"
        "ft";
        /* border: 20px solid orange; */
    }
  }

@media(min-width:900px) {
    .container{
          display:grid;
          grid-template-columns: repeat(8, 1fr);
          grid-auto-rows: minmax(50px, auto);
          grid-template-areas: 
          "hd hd hd hd hd hd hd hd"
          "nav nav nav nav nav nav nav nav"
          "main main main main main main main main"
          "ft ft ft ft ft ft ft ft";
          /* border: 20px solid red; */
      }

      #NestedGrid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-gap: 25px;
        /* border: 2px solid blue; */
    }
    }