.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sd;
    background-color: #F0F0F0;
    border-radius: 5px;
}

.author-caption {
    text-align: center;
}

.about-author {
    font-family: 'Pacifico', cursive;
    color: #545454;
    text-align: center;
    font-size: 24px;
}

.bio {
    text-align: center;
}

.archives {
    text-align: left;
    font-style: italic;
    padding: 10px;
}

.recipe-archive {
    text-align: left;
}


