.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sd;
    background-color: #F0F0F0;
    /* border: 1px solid black; */
    /* opacity: 0.8; */
    border-radius: 5px;
}

.author-caption {
    text-align: center;
}

.about-author {
    font-family: 'Pacifico', cursive;
    color: #C32148;
    font-size: 20px;
}

.bio {
    text-align: center;
    /* padding: 10px; */
}

.archives {
    color: #C32148;
    text-align: left;
    font-style: italic;
    padding: 10px;
}