@import url("blog_post.css");
@import url("header.css");
@import url("homepage.css");
@import url("sidebar.css");
@import url("footer.css");

body {
    background-color: #F7F7F7;
    font-family: 'Josefin Sans', sans-serif;
}

button {
    color: whitesmoke;
    background: #2e3138;
    border-color: #2e3138;
    border-radius: 5px;
}


